<div id="maincontent">
<mat-toolbar class="mat-elevation-z6">
  <span class="docs-button mat-button main">Candy Land</span>
  <span class="spacer"></span>
  <span class="docs-navbar-hide-small docs-button mat-button">Play</span>
  <span class="docs-navbar-hide-small docs-button mat-button">Questions</span>
</mat-toolbar>
<br>
<mat-grid-list cols="3" row-height="15px">
  <mat-grid-tile
    *ngFor="let color of colors"
    colspan="1"
    rowspan="1"
    [style.background]="color"
    (click)="onColorClicked(color)">
</mat-grid-tile>
</mat-grid-list>
</div>

<div id="QModal" class="modal">
  <p>{{selectedQuestion.q}}</p>
  <p *ngIf="showAnswer">{{selectedQuestion.a}} <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&#10004;</button>
  </p>
  <a *ngIf="!showAnswer" (click)="show()" class="show">Show Scripture</a>
</div>